<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="D:\Python39\python.exe|D:\home\site\wwwroot\app.py"
           resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FlaskApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
